page-driver {
    div.form{
        position: absolute;
        top: 35%;
        right: 5%;
        left: 5%;
        border: 1px;
    }

    .bg-img{
        background-color: color($colors, greenPoki);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    #form-img{
        //background: url('../assets/imgs/background_form.png') no-repeat center center fixed;
        color: color($colors, primary);
        background-color: color($colors, dark);
        border: 3px solid color($colors, greenPoki);
        width: 100%;
        height: 50%;
        font-size: 2em;
        //background-repeat: no-repeat;
    }

    .btn{
        margin-top: 0;
        width: 100%;
        text-align: center;
        background-color: color($colors, greyPoki);
        color: color($colors, greenPoki);
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }

    .btn1{
        margin-top: 20px;
    }

    div.driv-title{
        position: relative;
        font-size: 2em;
        color: color($colors, greyPoki);
        top: 15%;
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
}
