page-profile {
    strong {
        color: color($colors, greenPoki);
        }
    p { text-align: center; }

    .bg{
        background: url('../assets/imagebaru/EDITPROFIL/bg-1.jpg') no-repeat center center scroll;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;        
    }
    .icon{
      position: absolute;
      right: 0px;
      padding-right: 20px;
      padding-top: 13px;
      padding-bottom: 20px;
    }
    .list-profile{
      padding-top: 100px;
    }
}

    .list{
        width: 100%;
    }
    .list .item{
        font-size: 120%;
    }
    .list p{
        font-size: 1.3em;
        text-align: center;
    }

    .prof-content{
        text-align: center;
        vertical-align: middle;
    }

    .prof-item{
        color: color($colors, greenPoki);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em !important;
        padding: 5px 0 0 0;
    }
    .ubah{
      font-size: 25px;
      font-weight: bold;
    }

    .keluar{
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
