page-welcome {
    div{
        position: relative;
        top: 140px;
    }
    .text{
        font-style: italic;
        color: color($colors, greenPoki);
        text-align: center;
    }
    .text-bold{
        font-weight: bold;
        font-style: italic;
        color: color($colors, greenPoki);
        text-align: center;
    }
    .bg-img{
        background: url('../assets/imagebaru/STARTSCREEN/bg-atasbawah.jpg') no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }
    .user-btn{

        margin-top: 15px;
        margin-bottom: 15px;
    }
    .driver-btn{

        margin-top: 15px;
        margin-bottom: 15px;
    }
}

